@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway+Dots&family=Raleway:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #2f2c2c;
}
html,body{
    padding: 0;
    margin: 0;
}

.main-nav li{
    padding: 0 6%;
}

.nav ul{
    margin: 0;
}
.nav li{
    display: inline-block;
}

.nav a{
    padding: .5em;
    color: white;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255, 255, 255,0.3);
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px  rgba(255, 255, 255, 0.3);
}

.main-header {
    background-color: #2D9CD8; /* Updated background color to a shade of blue */
    background-image: url("images/header.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 30px;
    text-align: center;
    color: #fff;
  }

.band-name{
    font-family:Boogaloo;
    text-align: center;
    margin: 1;
    color: white;
    font-size: 4em;
    font-weight: normal;
}

.band-name-large{
    font-size: 8em;
}

.content-section{
    margin: 1em;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header{
    font-family: Boogaloo;
    font-weight: normal;
    color:#333;
    text-align: center;
    font-size: 2.5em;
}
.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #1F4761; /* Darker shade of blue for the footer */
    color: white;
    padding: 0.25em 0;
  }

.main-footer-container{
    display: flex;
    align-items:center;
}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;
}
.footer-nav img{
    width: 50px;
    height: 50px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
}
.btn-header{
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CD8;
    background-color: rgb(225, 225, 225, 0.1);
    border-radius: 0%;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover{
    background-color: rgb(225, 225, 225, 0.6);
}

.btn-play{
    display: block;
    margin: 0 auto;
    font-size: 4em;
    padding: 0;
    width: 100px;
    color:#2D9CD8;
    height: 100px;
    border-radius: 50%;
}

.tour-row{
    border-bottom: 1px solid black;
    padding: 1em;
    margin: 1em;
    background: white;
}

.tour-row:last-child{
    border-bottom: none;
}

.tour-item{
    display: inline-block;
    padding-right: 0.5em;
}
.tour-date{
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city{
    width: 24%;
}

.tour-arena{
    width: 42%;
}
 .tour-btn{
    max-width: 19%;
 }

.btn-primary{
    color:white;
    background-color:#56CCF2;
    font-weight: bold;
    border: none;
    border-radius: .3em;
}

.btn-primary:hover{
    background-color: #2D9CD8;
}

.shop-item{
    margin: 30px;
}

.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image{
    height: 250px;
    width: auto;
}

.shop-item-details{
    display: flex;
    padding: 5px;
    align-items: center;
}

.shop-item-price{
    flex-grow: 1;
    color: #555;
    font-weight: bold;
}

.shop-items{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.cart-header{
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}
.cart-column{
    display:flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row{
    display: flex;
}

.cart-item{
    width: 24%;
}

.cart-price{
    width: 24%;
    color: #333;
    font-size: 1.2em;
}
.cart-quantity{
    width: 47%;
}

.cart-item-title{
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-item-image{
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger{
    color: white;
    background-color: #EB5757;
    border: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #b44613;
}

.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: antiquewhite;
    padding: 0;
    color: #333;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-row:last-child{
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column{
    border: none;
}

.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 20px;
    color: #333;
}

.cart-total-price{
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}

.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}





.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }

  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  /* Here are just some visual styles. 🖌 */

  .tour-row:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .tour-row:hover::before, div:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .tour-row:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }



  
  .glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}